:root{
    --blue: #3498db;
    --dark-blue: #2980b9;
    --background: #081118;
    --grey: #333;
    --light-grey: #3b3b3b;
}

*{
    margin: 0;
    padding: 0;
    background-origin: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff7f02;
}


header{
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    min-width: 768px;
    width: 100%;
    height: 60px;
    background-color: brown;
    padding-left: 100px;
   justify-content: center;
   
}
@media(max-width:920px){
    header{
        flex:2 30%;
    }
}

nav{
    position: fixed;
    top: 0;
    left: 1px;
    height: 45px; 
    width: 45px;
    margin: auto;
    z-index: 50;
    /* justify-content: space-between; */
    /* cursor: pointer; */
    /* background-color: var(--blue); */
}

#nav_butt{
    width: 45px;
    height: 45px;
    /* background-color: var(--blue); */
    transition: 0.1s;
}
.menu{
    font-size: 3rem;
    background-color:blue;
    color: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.home{
    position: relative;
    font-size: 22px;
    color: black;
    height: 30%;
    
    cursor: pointer;
}
.search_box{
    font-size: 2.5rem;
    position: relative;
    justify-content: center;
    height: 100%;
  
    
}
.search_box input{
    vertical-align: middle;  
    width: 320px;
    height: 30px;
    font-size: 1rem;
}

.search_box button{
    vertical-align: middle;  
    width: 30px;
    height: 30px;
    font-size: 1rem;
}
.cart_shopping{
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.navigation_menu{
    display: none;
    width: 15rem;
    border-radius: 0.2rem;
    /* overflow: hidden; */
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 45;
}

.navigation_menu a{
    text-decoration: none;
}

.menu-item{
    list-style: none;
    border-top: 1px solid var(--dark-blue);
    overflow: hidden;
} 

.btn{
    display: block;
    padding: 0.5rem 0.5rem;
    background: var(--blue);
    color: white;
    position: relative;
}

.btn:before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--blue);
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg);
}

.btn i{
    margin-right: 1rem;
}

.menu-item__sub{
    background: var(--grey);
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
 
}

.menu-item__sub a{
    display: block;
    padding: 1rem 1.6rem;
    color: white;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid var(--light-grey);
}

.menu-item__sub a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background: var(--blue);
    transform: translateX(-0.4rem);
    transition: 0.3s;
    opacity: 0;
}

.menu-item__sub a:hover:before{
    opacity: 1;
    transform: translateX(0);
}

.menu-item:target .menu-item__sub{
    max-height: 70em;
}
/* END NAVIGATOR - BLUE */


.shop_container{
    display: block;
    width: 100%;
    margin: auto;
}

.products{
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.product_image{
    margin: 5px;
    width: 180px;
    height: 200px;
}

.shop-item-image{
    margin: auto;
    width: 100%;
    border-radius: 2px;
    height: 190px;
    cursor: pointer;
}

.product_information{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
}
.product_information h1{
    text-align: center;
    font-size: 15px;
    color: red;
    border: 1px dotted rgb(158, 148, 148);
    border-radius: 5px;
}
.product_information h3{
    text-align: center;
    font-size: 14px;
    color: rgb(9, 32, 13);
    border: 1px solid rgb(105, 95, 95);
    border-radius: 3px;
}

.product_information input{
    align-self: flex-end;
    font-size: 14px;
    color: rgb(9, 32, 13);
    border: 1px solid rgb(90, 82, 82);
    border-radius: 3px;
    cursor: pointer;
}
.cart_section{
    width: 40%;
    display: none;
    flex-direction: column;
    background-color: rgb(49, 49, 47);
    position: absolute;
    top: 80px;
    right: 25px;
    text-align: center;
    color: red;
    opacity: 0.99;
}

.cart_selection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart_column{
    width: 33.33%;
}

.cart-item{ 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    border: 1px solid #4a4a4a;
    margin-top: 1.5px;
    align-items: center;
}
.cart-item-title{
    display: block;
    color: crimson;
}

.cart-item-img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5px;
}

.cart-item-price{
    display: block;
    color: crimson;
    margin: auto 15px;
}

.cart-quantity-input{
    width: 45px;
    padding: 5px; 
    margin-right: 5px; 
}

.cart-quantity{
    justify-self: flex-end;
    margin-left: 15px;
    float: right;
}

.btn-danger{
    background-color: red;
    border-radius: 15px;
    height: 35px;
    width: 90px;
}
.btn-primary{
    background-color: rgb(0, 183, 255);
    border-radius: 12px;
    box-shadow: none;
    height: 35px;
    width: 85px;
    margin: auto 0px;
}

@media(max-width:920px){
    .product_information{
        flex:1 21%;
    }
}

@media(max-width:600px){
    .product_information{
        flex:1 4%;
    }
}
#slide{
    position: relative;
    box-shadow: aqua; 
}